@model IEnumerable<DMCTimesheet.Models.C09_ProjectSubCon>
@{
    DMCTimesheet.Models.C06_UserPermisRelationship Userpermiss = Session["UserPermission"] as DMCTimesheet.Models.C06_UserPermisRelationship;
    switch (Userpermiss.idPer)
    {
        case 1://WebAdmin
            {
                ViewBag.Title = "Web Admin";
                Layout = "~/Views/Shared/_AdminLayout.cshtml";
                break;
            }
        case 2://User
            {
                ViewBag.Title = "User";
                Layout = "~/Views/Shared/_UserLayout.cshtml";
                break;
            }
        case 3: //System Admin
            {
                ViewBag.Title = "Sys admin";
                Layout = "~/Views/Shared/_AdminLayout.cshtml";
                break;
            }
        case 4: //System Mod
            {
                ViewBag.Title = "Mod";
                Layout = "~/Views/Shared/_AdminLayout.cshtml";
                break;
            }
        default:
            {
                ViewBag.Title = "Default User";
                Layout = "~/Views/Shared/_UserLayout.cshtml";
                break;
            }
    }
    DMCTimesheet.Models.C02_Members loginUser = Session["UserLogin"] as DMCTimesheet.Models.C02_Members;

    List<DMCTimesheet.Models.C01_Projects> Project = ViewBag.Projects as List<DMCTimesheet.Models.C01_Projects>;
    List<DMCTimesheet.Models.C12_SubContractor> SubCons = ViewBag.SubCons as List<DMCTimesheet.Models.C12_SubContractor>;
    List<DMCTimesheet.Models.C09_ProjectSubCon> AssignProject = ViewBag.AssignProject as List<DMCTimesheet.Models.C09_ProjectSubCon>;

}


@* Modal create new *@
<div>
    <button type="button" class="btn btn-info btn-small text-right" data-toggle="modal" data-target="#newAssignProject">Thêm dự án</button>
</div>
@* Form nhập liệu *@
<div id="newAssignProject" class="modal fade" role="dialog">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Thêm dự án mới</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AssignDesigner", "Project", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <form>
                        <div class="form-group row">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left">Ngày</lable>
                            <input type="date" class="form-control col-md-7 col-sm-9 col-xs-9" name="Date" placeholder="" required="" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                        </div>
                        @* ProjectTypeID *@
                        <div class="form-group row  text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Tên dự án</lable>
                            <select name="ProjectID" class="form-control col-md-7 col-sm-9 col-xs-9">
                                @foreach (var item in Project.Where(s => s.ProjectStatusId == 1))
                                {
                                    <option value=@item.ProjectID>@item.ProjectName</option>
                                }
                            </select>
                        </div>
                        @* ARC ID *@
                        <div class="form-group row  text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Thiết kế Kiến trúc</lable>
                            <select name="ArcId" class="form-control col-md-7 col-sm-9 col-xs-9">
                                @foreach (var item in SubCons)
                                {
                                    <option value=@item.SubConId>@item.ShortName</option>
                                }
                            </select>
                        </div>
                        @* interior ID *@
                        <div class="form-group row  text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Thiết kế Nội thất</lable>
                            <select name="InteriorId" class="form-control col-md-7 col-sm-9 col-xs-9">
                                @foreach (var item in SubCons)
                                {
                                    <option value=@item.SubConId>@item.ShortName</option>
                                }
                            </select>
                        </div>
                        @* Structure ID *@
                        <div class="form-group row  text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Thiết kế Kết cấu</lable>
                            <select name="StructureId" class="form-control col-md-7 col-sm-9 col-xs-9">
                                @foreach (var item in SubCons)
                                {
                                    <option value=@item.SubConId>@item.ShortName</option>
                                }
                            </select>
                        </div>

                        @* MEP ID *@
                        <div class="form-group row  text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Thiết kế Cơ điện - MEPF</lable>
                            <select name="MEPid" class="form-control col-md-7 col-sm-9 col-xs-9">
                                @foreach (var item in SubCons)
                                {
                                    <option value=@item.SubConId>@item.ShortName</option>
                                }
                            </select>
                        </div>

                        @* Landscape ID *@
                        <div class="form-group row  text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Thiết kế Cảnh quan</lable>
                            <select name="LandscapeId" class="form-control col-md-7 col-sm-9 col-xs-9">
                                @foreach (var item in SubCons)
                                {
                                    <option value=@item.SubConId>@item.ShortName</option>
                                }
                            </select>
                        </div>
                        @* Legal ID *@
                        <div class="form-group row  text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Pháp lý</lable>
                            <select name="LegalId" class="form-control col-md-7 col-sm-9 col-xs-9">
                                @foreach (var item in SubCons)
                                {
                                    <option value=@item.SubConId>@item.ShortName</option>
                                }
                            </select>
                        </div>

                        <div class="form-group text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left"></lable>
                            <input type="submit" value="Save" class="btn btn-success col-md-7" />
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer">
                <div>
                    <p class="text-danger">@ViewBag.Error</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@* End Form nhập liệu *@

<div class="clearfix"></div>
<h3>DANH SÁCH DỰ ÁN </h3>

<div class="form-group">
    <table class="table table-hover table-condensed">
        <thead class="text-dark">
            <tr class="row text-center table-primary">
                <td class="col-md-1">Ngày</td>
                <td class="col-md-2">Dự án</td>
                <td class="col-md-2">TK Kiến trúc</td>
                <td class="col-md-1">TK Nội thất</td>
                <td class="col-md-2">TK Kết cấu</td>
                <td class="col-md-2">TK MEP</td>
                <td class="col-md-1">TK Landscape</td>
                <td class="col-md-1">Pháp lý</td>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Count() == 0)
            {
                <tr class="row">
                    <td>Chưa chỉ định thầu phụ chi dự án</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr class="row text-dark table-bordered">
                        <td class="col-md-1">@DateTime.Parse(item.Date.ToString()).ToShortDateString()</td>
                        <td class="col-md-2"><b>@item.ProjectId - @Project.FirstOrDefault(s => s.ProjectID == item.ProjectId).ProjectName</b></td>
                        <td class="col-md-2">@SubCons.FirstOrDefault(s => s.SubConId == item.ArcId).ShortName</td>
                        <td class="col-md-1">@SubCons.FirstOrDefault(s => s.SubConId == item.InteriorId).ShortName</td>
                        <td class="col-md-2">@SubCons.FirstOrDefault(s => s.SubConId == item.StructureId).ShortName</td>
                        <td class="col-md-2">@SubCons.FirstOrDefault(s => s.SubConId == item.MEPid).ShortName</td>
                        <td class="col-md-1">@SubCons.FirstOrDefault(s => s.SubConId == item.LandscapeId).ShortName</td>
                        <td class="col-md-1">@SubCons.FirstOrDefault(s => s.SubConId == item.LegalId).ShortName</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>


