@model DMCTimesheet.Models.C09_ProjectSubCon
@{
    DMCTimesheet.Models.C06_UserPermisRelationship Userpermiss = Session["UserPermission"] as DMCTimesheet.Models.C06_UserPermisRelationship;
    DMCTimesheet.Models.C02_Members loginUser = Session["UserLogin"] as DMCTimesheet.Models.C02_Members;

    List<DMCTimesheet.Models.C01_Projects> Projects = ViewBag.Projects as List<DMCTimesheet.Models.C01_Projects>;
    List<DMCTimesheet.Models.C12_SubContractor> SubCons = ViewBag.SubCons as List<DMCTimesheet.Models.C12_SubContractor>;
    List<DMCTimesheet.Models.C09_ProjectSubCon> AssignProject = ViewBag.AssignProject as List<DMCTimesheet.Models.C09_ProjectSubCon>;


    List<DMCTimesheet.Models.C14_Services> Services = ViewBag.Services as List<DMCTimesheet.Models.C14_Services>;
    List<DMCTimesheet.Models.C15_SubConServices> ContractorServices = ViewBag.ContractorServices as List<DMCTimesheet.Models.C15_SubConServices>;


}
<div class="nav navbar-fixed-top row">
    @Html.ActionLink(" Home", "Index", "Project", null, new { @class = "fa fa-home btn btn-round btn-dark" })
</div>
<br>
<div class="clearfix"></div>

<h4 class="text-center">ĐIỀU CHỈNH THÔNG TIN NHÀ THẦU PHỤ CHO DỰ ÁN <b class="text-danger">@Projects.FirstOrDefault(s => s.ProjectID == Model.ProjectId).ProjectName</b></h4>
@* Form nhập liệu *@
<div>
    @using (Html.BeginForm("EditAssign", "Project", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <form>
            @* ID *@
            <div class="form-group row">
                <lable hidden class="control-label col-md-3 col-sm-3 col-xs-3 text-left">Id</lable>
                <input hidden type="number" class="form-control col-md-7 col-sm-9 col-xs-9" name="Id" placeholder="" readonly value="@Model.Id" />
            </div>

            <div class="form-group row">
                <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left">Ngày</lable>
                <input type="date" class="form-control col-md-7 col-sm-9 col-xs-9" name="Date" placeholder="" required="" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
            </div>
            @* ProjectTypeID *@
            <div class="form-group row  text-left">
                <lable hidden class="control-label col-md-3 col-sm-3 col-xs-3 text-danger">Tên dự án</lable>
                <input type="number" name="ProjectID" hidden value="@Model.ProjectId" />
            </div>

            @* Chọn dịch vụ *@
            <div class="form-group row  text-left">
                <lable class="control-label col-md-3 col-sm-3 col-xs-3">Dịch vụ sử dụng</lable>
                <select name="ServicesAssign" class="form-control col-md-7 col-sm-9 col-xs-9">
                    @if (Model.ServicesAssign != null)
                    {
                        <option value="@Model.ServicesAssign">@Services.FirstOrDefault(s => s.ServiceId == Model.ServicesAssign).ServiceName</option>
                    }
                    @if (Services != null)
                    {
                        foreach (var item in Services)
                        {
                            <option value="@item.ServiceId">@item.ServiceName</option>
                        }
                    }

                </select>
            </div>
            @* Chọn NTP phù hợp với dịch vụ *@
            <div class="form-group row  text-left">
                <lable class="control-label col-md-3 col-sm-3 col-xs-3">Chọn NTP cung cấp</lable>
                <select name="SubConId" class="form-control col-md-7 col-sm-9 col-xs-9">
                    <option value="@Model.SubConId">@SubCons.FirstOrDefault(s => s.SubConId == Model.SubConId).ShortName</option>
                    <option value=""></option>
                    @foreach (var pro in SubCons.OrderBy(s=>s.ShortName))
                    {
                        <option value="@pro.SubConId">@pro.ShortName</option>
                    }
                </select>
            </div>


            <div class="form-group text-left">
                <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left"></lable>
                <input type="submit" value="Save" class="btn btn-success col-md-2" />
            </div>
            <div>
                <p class="text-danger">@ViewBag.Error</p>
            </div>
            <div class="clearfix"></div>

        </form>
    }
</div>

@* End Form nhập liệu *@
