@model DMCTimesheet.Models.C09_ProjectSubCon
@{
    DMCTimesheet.Models.C06_UserPermisRelationship Userpermiss = Session["UserPermission"] as DMCTimesheet.Models.C06_UserPermisRelationship;
    switch (Userpermiss.idPer)
    {
        case 1://WebAdmin
            {
                ViewBag.Title = "Web Admin";
                Layout = "~/Views/Shared/_AdminLayout.cshtml";
                break;
            }
        case 2://User
            {
                ViewBag.Title = "User";
                Layout = "~/Views/Shared/_UserLayout.cshtml";
                break;
            }
        case 3: //System Admin
            {
                ViewBag.Title = "Sys admin";
                Layout = "~/Views/Shared/_AdminLayout.cshtml";
                break;
            }
        case 4: //System Mod
            {
                ViewBag.Title = "Mod";
                Layout = "~/Views/Shared/_AdminLayout.cshtml";
                break;
            }
        default:
            {
                ViewBag.Title = "Default User";
                Layout = "~/Views/Shared/_UserLayout.cshtml";
                break;
            }
    }
    DMCTimesheet.Models.C02_Members loginUser = Session["UserLogin"] as DMCTimesheet.Models.C02_Members;

    List<DMCTimesheet.Models.C01_Projects> Project = ViewBag.Projects as List<DMCTimesheet.Models.C01_Projects>;
    List<DMCTimesheet.Models.C12_SubContractor> SubCons = ViewBag.SubCons as List<DMCTimesheet.Models.C12_SubContractor>;
    List<DMCTimesheet.Models.C09_ProjectSubCon> AssignProject = ViewBag.AssignProject as List<DMCTimesheet.Models.C09_ProjectSubCon>;

}


@* Form nhập liệu *@
<div>
    @using (Html.BeginForm("EditAssign", "Project", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <form>
        @* ID *@
        <div class="form-group row">
            <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left">Id</lable>
            <input type="number" class="form-control col-md-7 col-sm-9 col-xs-9" name="Id" placeholder="" readonly value="@Model.Id" />
        </div>

        <div class="form-group row">
            <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left">Ngày</lable>
            <input type="date" class="form-control col-md-7 col-sm-9 col-xs-9" name="Date" placeholder="" required="" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
        </div>
        @* ProjectTypeID *@
        <div class="form-group row  text-left">
            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Tên dự án</lable>
            <select name="ProjectID" class="form-control col-md-7 col-sm-9 col-xs-9">
                <option value=@Model.ProjectId>@Project.FirstOrDefault(s=>s.ProjectID == Model.ProjectId).ProjectName</option>
                <option value=@Model.ProjectId>----------</option>
               
                @foreach (var item in Project.Where(s => s.ProjectStatusId == 1))
                {
                    <option value=@item.ProjectID>@item.ProjectName</option>
                }
            </select>
        </div>
        @* ARC ID *@
        <div class="form-group row  text-left">
            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Thiết kế Kiến trúc</lable>
            <select name="ArcId" class="form-control col-md-7 col-sm-9 col-xs-9">
                <option value=@Model.ArcId>@SubCons.FirstOrDefault(s=>s.SubConId == Model.ArcId).ShortName</option>
                <option value=@Model.ArcId>-----------</option>
                @foreach (var item in SubCons)
                {
                    <option value=@item.SubConId>@item.ShortName</option>
                }
            </select>
        </div>
        @* interior ID *@
        <div class="form-group row  text-left">
            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Thiết kế Nội thất</lable>
            <select name="InteriorId" class="form-control col-md-7 col-sm-9 col-xs-9">
                <option value=@Model.InteriorId>@SubCons.FirstOrDefault(s => s.SubConId == Model.InteriorId).ShortName</option>
                <option value=@Model.InteriorId>-----------</option>
                @foreach (var item in SubCons)
                {
                    <option value=@item.SubConId>@item.ShortName</option>
                }
            </select>
        </div>
        @* Structure ID *@
        <div class="form-group row  text-left">
            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Thiết kế Kết cấu</lable>
            <select name="StructureId" class="form-control col-md-7 col-sm-9 col-xs-9">
                <option value=@Model.StructureId>@SubCons.FirstOrDefault(s => s.SubConId == Model.StructureId).ShortName</option>
                <option value=@Model.StructureId>-----------</option>
                @foreach (var item in SubCons)
                {
                    <option value=@item.SubConId>@item.ShortName</option>
                }
            </select>
        </div>

        @* MEP ID *@
        <div class="form-group row  text-left">
            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Thiết kế Cơ điện - MEPF</lable>
            <select name="MEPid" class="form-control col-md-7 col-sm-9 col-xs-9">
                <option value=@Model.MEPid>@SubCons.FirstOrDefault(s => s.SubConId == Model.MEPid).ShortName</option>
                <option value=@Model.MEPid>-----------</option>
                @foreach (var item in SubCons)
                {
                    <option value=@item.SubConId>@item.ShortName</option>
                }
            </select>
        </div>

        @* Landscape ID *@
        <div class="form-group row  text-left">
            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Thiết kế Cảnh quan</lable>
            <select name="LandscapeId" class="form-control col-md-7 col-sm-9 col-xs-9">
                <option value=@Model.LandscapeId>@SubCons.FirstOrDefault(s => s.SubConId == Model.LandscapeId).ShortName</option>
                <option value=@Model.LandscapeId>-----------</option>
                @foreach (var item in SubCons)
                {
                    <option value=@item.SubConId>@item.ShortName</option>
                }
            </select>
        </div>
        @* Legal ID *@
        <div class="form-group row  text-left">
            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Pháp lý</lable>
            <select name="LegalId" class="form-control col-md-7 col-sm-9 col-xs-9">
                <option value=@Model.LegalId>@SubCons.FirstOrDefault(s => s.SubConId == Model.LegalId).ShortName</option>
                <option value=@Model.LegalId>-----------</option>
                @foreach (var item in SubCons)
                {
                    <option value=@item.SubConId>@item.ShortName</option>
                }
            </select>
        </div>

        <div class="form-group text-left">
            <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left"></lable>
            <input type="submit" value="Save" class="btn btn-success col-md-7" />
        </div>
        <div>
            <p class="text-danger">@ViewBag.Error</p>
        </div>
        <div class="clearfix"></div>

    </form>
    }
</div>

@* End Form nhập liệu *@
