@model DMCTimesheet.Models.C17_Position
@{
    ViewBag.Title = "Edit Position Page";
}

<h3>@ViewBag.Title</h3>
<div class="modal-body">
    @using (Html.BeginForm("DeletePositionConfirmed", "Setting", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <form>
            @* WorkType *@
            <div class="form-group row text-left text-dark">
                <lable hidden class="control-label col-md-3 col-sm-3 col-xs-3">Mã chức danh</lable>
                <input hidden type="number" class="form-control col-md-7 col-sm-9 col-xs-9" name="Id" placeholder="Tên chức danh" required="" value="@Model.Id" />
            </div>
            <div class="form-group row text-left text-dark">
                <lable class="control-label col-md-3 col-sm-3 col-xs-3">Tên Chức danh</lable>
                <input type="text" class="form-control col-md-7 col-sm-9 col-xs-9" name="PositionName" readonly placeholder="Tên chức danh" required="" value="@Model.PositionName" />
            </div>
            <div class="form-group row text-left text-dark">
                <lable class="control-label col-md-3 col-sm-3 col-xs-3">Kích hoạt</lable>
                <select disabled name="Active" class="form-control col-md-7 col-sm-9 col-xs-9">
                    <option value="@Model.Active">@Model.Active</option>                    
                </select>
            </div>

            <br />
            <div class="clearfix"></div>

            <div class="form-group text-left">
                <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left"></lable>
                <input type="submit" value="Xóa" class="btn btn-danger col-md-1" />
            </div>
        </form>
    }
</div>
<hr />
<h6 class="text-danger">@ViewBag.Error</h6>
