@model IEnumerable<DMCTimesheet.Models.C15_SubConServices>
@{
    ViewBag.Title = "Edit Subcontractor Service Page";
    //int stt = 1;
    List<DMCTimesheet.Models.C12_SubContractor> CompanyName = ViewBag.CompanyName as List<DMCTimesheet.Models.C12_SubContractor>;
    List<DMCTimesheet.Models.C14_Services> Service = ViewBag.Service as List<DMCTimesheet.Models.C14_Services>;
    List<DMCTimesheet.Models.C22_ServiceGroup> ServiceGroups = ViewBag.ServiceGroups as List<DMCTimesheet.Models.C22_ServiceGroup>;
    int SubconId = ViewBag.SubConId;
    DMCTimesheet.Models.C15_SubConServices SubConId = Model.FirstOrDefault(s=>s.SubConId == SubconId);

    int stt = 1;
}




<div class="modal-body">
    @using (Html.BeginForm("EditCompanyService", "Setting", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <form>
            <h3>@ViewBag.Title - <b class="text-danger">@CompanyName.FirstOrDefault(s => s.SubConId == SubconId).ShortName</b></h3>
            <div class="col-md-12">
                <table class="table table-borderless">
                    <thead>
                        <tr class="text-white row" style="background-color:#000000">
                            <td class="col-md-1">STT</td>
                            <td class="col-md-4">Tên dịch vụ</td>
                            <td class="col-md-4">Ngày tạo</td>
                            <td class="col-md-3">#</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row">
                            <td class="" hidden>
                                <input hidden class="form-control" type="number" name="SubConId" value="@SubConId.SubConId" />                               
                            </td>
                            @foreach (var item in Model)
                            {
                                <td class="col-md-1">@stt</td>
                                <td class="form-group col-md-4">
                                    <select name="ServiceId" class="form-control">
                                        <option value="@item.ServiceId">@Service.FirstOrDefault(s => s.ServiceId == item.ServiceId).ServiceName</option>
                                        @foreach (var ser in Service.OrderBy(s => s.ServiceName))
                                        {
                                            <option value="@ser.ServiceId">@ser.ServiceName</option>
                                        }
                                    </select>
                                </td>
                                <td class="form-group col-md-4">
                                    <input type="date" class="form-control" name="Date" placeholder="" required="" value="@item.Date.Value.ToString("yyyy-MM-dd")" />
                                </td>

                                <td class="form-group col-md-3">
                                    <input type="submit" value="Lưu thông tin" class="btn btn-success" />
                                    <a>@Html.ActionLink("Xóa", "DeleteCompanyService", "Setting",new {Id = item.Id },new {@class = "btn btn-danger" })</a>
                                </td>
                                stt++;
                            }
                        </tr>
                    </tbody>
                </table>
            </div>            
            <hr />      
        </form>
    }
</div>
<hr />
<h6 class="text-danger">@ViewBag.Error</h6>