@model IEnumerable<DMCTimesheet.Models.C23_NguonViec>
@{
    ViewBag.Title = "Job Source Manage Page";
    int stt = 1;
}

<div class="row">
    <div class="col-md-10">
        <h3>
            NGUỒN CÔNG VIỆC - <b>
                @if (Model == null)
                {
                    <b class="text-primary">0</b>}
                else
                {<b class="text-danger">@Model.Count()</b>}
            </b>
        </h3>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-danger btn-small text-right" data-toggle="modal" data-target="#form"><i class="fa fa-plus-circle"></i> Thêm nguồn công việc</button>
    </div>
</div>

@* Modal create new *@
<h3 class="text-danger">@ViewBag.Error</h3>

@* Form nhập liệu *@
<div id="form" class="modal fade" role="dialog">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Thêm nguồn việc mới</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateNewJobSource", "Setting", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <form>
                        @* WorkType *@
                        <div class="form-group row text-left text-dark">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Tên Nguồn việc</lable>
                            <input type="text" class="form-control col-md-7 col-sm-9 col-xs-9" name="NguonViec" placeholder="Tên nguồn việc" required="" value="" />
                        </div>

                        <br />
                        <div class="clearfix"></div>
                        <div class="form-group text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left"></lable>
                            <input type="submit" value="Lưu thông tin" class="btn btn-success col-md-6" />
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@* End Form nhập liệu *@

@*Table area*@
<div class="table-responsive col-md-12">
    <table class="table table-borderless">
        <tr class="text-white" style="background-color:#000000">
            <td class="col-sm-1">STT</td>
            <td class="col-sm-2">Tên nguồn việc</td>
            <td class="col-sm-1">#</td>
        </tr>
    </table>
</div>
<div class="table-responsive" style="height:900px">
    <table class="table table-striped table-bordered">
        <tbody class="">
            @if (Model == null || Model.Count() == 0)
            {
                <tr class="row">
                    <td class="col-sm-1">Chưa có thông tin</td>
                </tr>
            }
            else
            {
                foreach (var item in Model.OrderBy(s => s.NguonViec))
                {
                    <tr class="row">
                        <td class="col-md-1 text-center">@stt</td>
                        <td class="col-sm-2">
                            @if (item.NguonViec != null)
                            {
                                <b>@Html.ActionLink(string.IsNullOrEmpty(item.NguonViec) ? "Chưa cập nhật" : item.NguonViec, "EditJobSource", "Setting", new { Id = item.Id }, new { @class = "text-danger" })</b>
                                @*<b class="text-danger">@item.LocationName</b>*@
                            }
                        </td>
                        @* Button *@
                        <td class="col-md-1">
                            @Html.ActionLink(" ", "EditJobSource", "Setting", new { Id = item.Id }, new { @class = "fa fa-edit" })
                            @Html.ActionLink(" ", "DeleteJobSource", "Setting", new { Id = item.Id }, new { @class = "fa fa-remove btn" })
                        </td>
                    </tr>
                    stt++;
                }
            }
        </tbody>

    </table>

</div>


