@model IEnumerable<DMCTimesheet.Models.C12_SubContractor>
@{
    ViewBag.Title = "Design Constractor Manage Page";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string updateInfo = ViewBag.SaveContent;
    List<DMCTimesheet.Models.C11_Location> Locations = ViewBag.Location as List<DMCTimesheet.Models.C11_Location>;
}

<div class="row">
    <div class="col-md-8">
        <h3>
            DANH SÁCH NHÀ THẦU PHỤ THIẾT KẾ - <b>
                @if (Model == null)
                {
                    <b>0</b>}
                else
                {<b>@Model.Count()</b>}
            </b>
        </h3>
    </div>
    <div class="col-md-2">
        <input type="search" name="name" id="searchitem" class="form-control form-search" placeholder="Tìm ntp..." onchange="searchitem(this.value)" value="" />
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-danger btn-small text-right" data-toggle="modal" data-target="#form"><i class="fa fa-plus-circle"></i> Thêm mới NTP</button>
    </div>
</div>
<script>
    function searchitem(val) {
        if (val == null) {
            return;
        }
        else {
            var text = '<tr class="row col-md-12"><td><b class="text-danger">' + 'Không thấy ông ơi' + '</b></td></tr>';
            document.getElementById("danhsachntp").innerHTML = "";
            document.getElementById("danhsachntp").innerHTML = text;
        }
    }
</script>
@* Modal create new *@
<h3 class="text-danger">@ViewBag.Error</h3>

@* Form nhập liệu *@
<div id="form" class="modal fade" role="dialog">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Thêm NTP mới</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateNewSubContractor", "Setting", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <form>
                        @* WorkType *@
                        <div class="form-group row text-left text-dark">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Tên đầy đủ của NTP</lable>
                            <input type="text" class="form-control col-md-7 col-sm-9 col-xs-9" name="ContractorName" placeholder="Tên theo Hợp đồng" required="" value="" />
                        </div>
                        <div class="form-group row text-left text-dark">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Tên rút gọn</lable>
                            <input type="text" class="form-control col-md-7 col-sm-9 col-xs-9" name="ShortName" placeholder="Tên rút gọn" value="" />
                        </div>
                        <div class="form-group row text-left text-dark">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Tên rút gọn</lable>
                            <input type="text" class="form-control col-md-7 col-sm-9 col-xs-9" name="MaQuanLy" placeholder="Mã quản lý" value="" />
                        </div>

                        <div class="form-group row text-left text-dark">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Vị trí</lable>
                            <select name="ContractorLocation" class="form-control col-md-7 col-sm-9 col-xs-9">
                                <option value=""></option>
                                @foreach (var item in Locations)
                                {
                                    <option value=@item.LocationId>@item.LocationName</option>
                                }
                            </select>
                        </div>
                        <br />
                        <div class="clearfix"></div>
                        <div class="form-group text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left"></lable>
                            <input type="submit" value="Lưu thông tin NTP mới" class="btn btn-success col-md-7" />
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer">

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@* End Form nhập liệu *@


<div>
    <p class="text-danger">@ViewBag.SaveContent</p>
</div>

@*Table area*@
<div class="table-responsive col-md-12">
    <table class="table table-borderless">
        <tr class="text-white text-center" style="background-color:#000000">
            <td class="text-center" style="width:60px">STT</td>
            <td class="col-sm-4">Tên đầy đủ theo HĐ</td>
            <td class="col-sm-2">Tên rút gọn</td>
            <td class="col-sm-1">Mã quản lý</td>
            <td class="col-sm-3">Vị trí</td>
            <td class="col-sm-1">#</td>
        </tr>
    </table>
</div>
<div class="table-responsive" style="height:900px">
    <table class="table table-striped table-bordered">
        <tbody id="danhsachntp" class="">
            @if (Model == null || Model.Count() == 0)
            {
                <tr class="row">
                    <td class="col-sm-1">Chưa có thông tin của NTP</td>
                </tr>
            }
            else
            {
                int stt = 1;
                foreach (var item in Model.OrderBy(s => s.ShortName))
                {
                    <tr class="row">
                        <td class="text-center" style="width:60px"><b class="text-primary">@stt</b></td>
                        <td class="col-sm-4">
                            <b>@Html.ActionLink(item.ContractorName, "EditNTP", "Setting", new { Id = item.SubConId }, new { @class = "text-primary" })</b>
                        </td>
                        <td class="col-sm-2">
                            <b>
                                <b>@Html.ActionLink(item.ShortName, "EditNTP", "Setting", new { Id = item.SubConId }, new { @class = "text-danger" })</b>
                            </b>
                        </td>
                        @if (item.MaQuanLy != null)
                        {
                            <td class="col-sm-1 text-danger">@item.MaQuanLy</td>
                        }
                        else
                        {
                            <td class="col-sm-1 text-danger">-</td>
                        }
                        <td class="col-sm-3">
                            @if (item.ContractorLocation == null)
                            {
                                <a>-</a>
                            }
                            else
                            {
                                <a>@Locations.FirstOrDefault(s => s.LocationId == item.ContractorLocation).LocationName</a>
                            }
                        </td>

                        @* Button *@
                        <td class="col-md-1">
                            @Html.ActionLink(" ", "EditNTP", "Setting", new { Id = item.SubConId }, new { @class = "fa fa-edit" })
                            @Html.ActionLink(" ", "DeleteNTP", "Setting", new { Id = item.SubConId }, new { @class = "fa fa-remove btn" })
                        </td>
                    </tr>
                    stt++;
                }
            }
        </tbody>

    </table>

</div>

