@model IEnumerable<DMCTimesheet.Models.C07_WorkType>
@{
    ViewBag.Title = "WorkType Page";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string updateInfo = ViewBag.SaveContent;
    List<DMCTimesheet.Models.C19_Workgroup> WorkGroup = ViewBag.WorkGroup as List<DMCTimesheet.Models.C19_Workgroup>;
    List<DMCTimesheet.Models.C21_DetailAction> WorkDetails = ViewBag.Details as List<DMCTimesheet.Models.C21_DetailAction>;
    int stt = 1;
}
@*<h3 class="text-primary">DANH MỤC QUẢN LÝ CÔNG VIỆC VÀ NHÓM CÔNG VIỆC DÙNG TRONG TIMESHEET</h3>*@
<hr />
<div>
    <p class="text-danger">@ViewBag.SaveContent</p>
</div>

@* -------------------------------------Tab--------------------------------------- *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container" onload="ActiveFirstTab()">
    <h2 class="text-primary">Quản lý chi tiết công việc</h2>

    <ul class="nav nav-tabs text-primary">
        @*<li class="active"><a data-toggle="tab" href="#home">Chung</a></li>*@
        <li class="active"><a data-toggle="tab" href="#menu1" class="text-dark">Nhóm công việc</a></li>
        <li><a data-toggle="tab" href="#menu2" class="text-dark">Công việc</a></li>
        <li><a data-toggle="tab" href="#menu3" class="text-dark">Chi tiết công việc</a></li>
    </ul>
    <div>
        <ul class="text-primary active">
            <li>Số lượng nhóm công việc <b>@WorkGroup.Count()</b></li>
            <li>Số lượng công việc <b>@Model.Count()</b></li>
            <li>Số lượng Chi tiết công việc <b>@WorkDetails.Count()</b></li>
        </ul>
        <p class="text-danger">Quy trình điều chỉnh: 1. Nhóm công việc >> 2. Công việc >> 3. Chi tiết công việc</p>
    </div>
    <div class="tab-content">
        <div id="menu1" class="tab-pane fade active">
            <h3>Nhóm công việc</h3>
            <p>Danh sách các nhóm công việc dùng trong Timesheet</p>
            <div class="col-md-12">
                <hr />
                @* ---------------------------------DANH MỤC NHÓM CONG VIỆC------------------*@
                <div class="inline">
                    <div class="col-md-8">
                        <h5 class="text-primary">Danh mục các nhóm công việc [<b class="text-danger">@WorkGroup.Count()</b> nhóm]</h5>
                    </div>
                    <div class="col-md-2">
                        <button type="button" style="margin-top:4px" class="btn btn-danger btn-small" data-toggle="modal" data-target="#modalGroup"><i class="fa fa-plus-circle"></i> Thêm Nhóm Công việc</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover tab-pane">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>Mã nhóm</th>
                                <th>Tên Nhóm</th>
                                <th>#</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-striped">
                        <tbody>
                            @if (WorkGroup.Count() != 0)
                            {
                                foreach (var item in WorkGroup)
                                {
                                    <tr class="table tab-content">
                                        <td><b class="text-danger text-center">@item.MaNhom</b></td>
                                        <td><b>@Html.ActionLink(item.GroupName.ToString(), "EditWorkGroup", "Setting", new { id = item.GroupId }, new { @class = "text-primary" })</b></td>
                                        <td class="row">
                                            <div>
                                                @Html.ActionLink(" ", "DeleteWorkGroup", "Setting", new { id = item.GroupId }, new { @class = "btn fa fa-remove" })
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>Chưa có nhóm công việc được tạo</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Công việc</h3>
            <p>Các đầu mục công việc chính trong nhóm công việc</p>
            @* ---------------------------------DANH MỤC CONG VIỆC------------------*@
            <div class="col-md-12">
                <hr />
                @* Modal create new *@
                <div class="inline">
                    <div class="col-md-8">
                        <h5 class="text-primary">Danh mục các công việc trong timesheet [<b class="text-danger">@Model.Count()</b> đầu việc]</h5>
                    </div>
                    <div class="col-md-2">
                        <button type="button" style="margin-top:4px" class="btn btn-info btn-small" data-toggle="modal" data-target="#form"><i class="fa fa-plus-circle"></i> Thêm Công việc</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover tab-pane">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>STT</th>
                                <th>Tên công việc</th>
                                <th>Nhóm công việc</th>
                                <th>#</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-striped">
                        <tbody>
                            @if (Model.Count() != 0)
                            {
                                foreach (var item in Model.OrderByDescending(s => s.GroupId))
                                {
                                    <tr class="table tab-content">
                                        <td class="text-center">@stt</td>
                                        <td><b>@Html.ActionLink(item.WorkName.ToString(), "EditWorktype", "Setting", new { id = item.ID }, new { @class = "text-primary" })</b></td>
                                        <td>Nhóm <b class="text-primary">@WorkGroup.FirstOrDefault(s => s.GroupId == item.GroupId).MaNhom</b> - @WorkGroup.FirstOrDefault(s => s.GroupId == item.GroupId).GroupName  </td>
                                        <td class="row">
                                            <div>
                                                @Html.ActionLink(" ", "DeleteWorktype", "Setting", new { id = item.ID }, new { @class = "btn fa fa-remove" })
                                            </div>
                                        </td>
                                    </tr>
                                    stt++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>Chưa có danh mục công việc được tạo</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

        <div id="menu3" class="tab-pane fade">
            <h3>Chi tiết</h3>
            <p>Các gợi ý công việc thường làm trong đầu mục công việc chính</p>
            <div class="col-md-12" id="tab_chitietcongviec">
                @* ---------------------------------CHI TIẾT CONG VIỆC------------------*@
                <hr />
                <div class="inline">
                    <div class="col-md-8">
                        <h5 class="text-primary">Danh mục các công việc chi tiết [<b class="text-danger">@WorkDetails.Count()</b> công việc]</h5>
                    </div>
                    <div class="col-md-2">
                        <button type="button" style="margin-top:4px" class="btn btn-dark text-white btn-small" data-toggle="modal" data-target="#modalDetail"><i class="fa fa-plus-circle"></i> Thêm công việc chi tiết</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover tab-pane">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>Tên đầu việc</th>
                                <th>Công việc chi tiết</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table-responsive" style="height:700px">
                    <table class="table table-condensed table-hover table-striped">
                        <tbody>
                            @if (WorkDetails.Count() != 0)
                            {
                                foreach (var item in WorkDetails.GroupBy(s => s.WorktypeId))
                                {
                                    <tr>
                                        <td class="text-danger text-left col-md-3" style="margin-top:20px;">
                                            <a name="WorktypeId"><b>@Model.FirstOrDefault(s => s.ID == item.Key).WorkName</b></a>
                                        </td>
                                        <td class="col-md-9">
                                            @foreach (var itm in item.ToList())
                                            {
                                                using (Html.BeginForm("EditWorkDetail", "Setting", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <p class="col-md-1" hidden><input type="number" name="Id" value="@itm.Id" />@itm.Id</p>
                                                    <p class="col-md-1" hidden><input type="number" name="WorktypeId" value="@itm.WorktypeId" />@itm.WorktypeId</p>   
                                                    <p class="col-md-8"><textarea type="text" name="DetailAction" class="form-control col-md-12">@itm.DetailAction</textarea></p>
                                                    <p class="col-md-2 col">
                                                        <input type="submit" name="name" value="Lưu" class="btn fa fa-save" />
                                                        @*<button onclick="showdata(@itm.Id,@itm.WorktypeId,@itm.DetailAction)" data-toggle="modal" data-target="#modalDetail">Delete</button>*@
                                                        <span>@Html.ActionLink(" ", "DeleteWorkDetail", "Setting", new { id = itm.Id }, new { @class = "fa fa-remove btn" })</span>
                                                    </p>
                                                }
                                            }
                                        </td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td>Chưa có nhóm công việc được tạo</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@* ------------------------------------End Tab------------------------------------ *@



<hr />
@* Form nhập Công việc mới *@
<div id="form" class="modal fade" role="dialog">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Thêm loại hình công việc</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateWorktype", "Setting", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <form>
                        @* WorkType *@
                        <div class="form-group row text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Tên công việc</lable>
                            <input type="text" class="form-control col-md-7 col-sm-9 col-xs-9" name="WorkName" placeholder="" required="" value="" />
                        </div>
                        <div class="form-group row text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Nhóm</lable>
                            @*<input type="number" class="form-control col-md-7 col-sm-9 col-xs-9" name="WorkGroup" />*@
                            <select name="GroupId" class="form-control col-md-7 col-sm-9 col-xs-9">
                                @foreach (var item in WorkGroup.OrderByDescending(s => s.MaNhom))
                                {
                                    <option value="@item.GroupId">[Nhóm @item.MaNhom] - @item.GroupName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left"></lable>
                            <input type="submit" value="Tạo công việc" class="btn btn-success col-md-7" />
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer">

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@* End Form nhập liệu *@

<script type="text/javascript">
    function openModal() {
        $("#menu1 li").first().children()[0].click();
    }
</script>

<script type="text/javascript">
    function ActiveFirstTab() {
        $('a[href="#tab_chitietcongviec"]').tab('show');
    }
</script>

@* Form nhập liệu - Workgroup *@
<div id="modalGroup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-danger">Thêm nhóm công việc</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateWorkGroup", "Setting", FormMethod.Post))
                {
                    int hint = WorkGroup.Select(s => s.MaNhom).Distinct().Count();
                    int nextgroup = hint + 1;
                    @Html.AntiForgeryToken()
                    <form>
                        @* WorkType *@
                        <div class="form-group row text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Mã quản lý nhóm</lable>
                            <input type="number" class="form-control col-md-7 col-sm-9 col-xs-9" name="MaNhom"
                                   data-toggle="tooltip" data-placement="left" id="cmbworktype" title="Số nhóm (hiện tại đang có @hint nhóm)"
                                   placeholder="tạm đặt " required="" value="@nextgroup" />
                        </div>

                        <div class="form-group row text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Tên Nhóm</lable>
                            <input type="text" class="form-control col-md-7 col-sm-9 col-xs-9" name="GroupName" placeholder="" required="" value="" />
                        </div>

                        <div class="form-group text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left"></lable>
                            <input type="submit" value="Tạo nhóm mới" class="btn btn-danger col-md-7" />
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer">

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@* End Form nhập liệu *@


@* Form nhập liệu-Work Detail *@
<div id="modalDetail" class="modal fade" role="dialog">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-danger">Thêm công việc chi tiết</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateWorkDetail", "Setting", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <form>
                        @* WorkType *@
                        <div class="form-group row text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Tên đầu việc</lable>
                            <select class="form-control col-md-7 col-sm-9 col-xs-9" name="WorktypeId" required>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.ID">@item.WorkName</option>
                                }

                            </select>
                        </div>

                        <div class="form-group row text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Tên Công việc chi tiết</lable>
                            <input type="text" class="form-control col-md-7 col-sm-9 col-xs-9" name="DetailAction" placeholder="Nhập công việc chi tiết" required="" value="" />
                        </div>

                        <div class="form-group text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left"></lable>
                            <input type="submit" value="Tạo việc" class="btn btn-danger col-md-7" />
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer">

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@* End Form nhập liệu *@

<div id="modalDelete" class="modal fade">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-danger">Xóa công việc chi tiết</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("DeleteWorkDetail", "Setting", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <form>
                        @* WorkType *@
                        <div class="form-group row text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Id đầu việc</lable>
                            <input type="text" class="form-control col-md-7 col-sm-9 col-xs-9" name="Id" id="detailid" value="" />

                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Tên đầu việc</lable>
                            <input type="text" id="tendauviec" class="form-control col-md-7 col-sm-9 col-xs-9" name="WorktypeId" placeholder="" required="" value="" />

                            @*<select class="form-control col-md-7 col-sm-9 col-xs-9" name="WorktypeId" required>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.ID">@item.WorkName</option>
                                    }
                                </select>*@
                        </div>
                        <div class="form-group row text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3">Tên Công việc chi tiết</lable>
                            <input type="text" class="form-control col-md-7 col-sm-9 col-xs-9" name="DetailAction" id="tenviecchitiet" placeholder="" required="" value="" />
                        </div>

                        <div class="form-group text-left">
                            <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left"></lable>
                            <input type="submit" value="Hủy" class="btn btn-primary col-md-2" />
                            <input type="submit" value="Xóa" class="btn btn-danger col-md-2" />
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer">

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //function for updating Worktype record
    function UpdateWorktype() {
        var res = ValidateUserInput();
        if (res == false) {
            return false;
        }
        var WorkTypeObj = {
            Id: $('#txtId').val(),
            WorkName: $('#txtWorkName').val(),
            WorkGroup: $('#txtWorkGroup').val(),
        };
        if (!WorkTypeObj.Id || WorkTypeObj.Id <= 0) {
            alert("Invalid Id!");
            return false;
        }
        $.ajax({
            url: "/Timesheet/UpdateWorktype",
            data: JSON.stringify(WorkTypeObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                BindWorktypeData();
                ClearAllInput();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function OpenEditPopup(ID) {
        ClearAllInput();
        $.ajax({
            url: "/Timesheet/GetWorktypebyID?ID=" + ID,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                debugger;
                /*$("#AddUpdateModelLabel").val("Update Patient Detail")*/
                $('#txtId').val(result.Id);
                $('#txtWorkName').val(result.PatientName);
                $('#txtWorkGroup').val(result.PatientNumber);

                $('#AddUpdateModel').modal('show');
                $('#btnUpdate').show();
                $('#btnDelete').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    function ClearAllInput() {
        $('#txtId').val("");
        $('#txtWorkName').val("");
        $('#txtWorkGroup').val("");

        $('#txtId').css('border-color', 'lightgrey');
        $('#txtWorkName').css('border-color', 'lightgrey');
        $('#txtWorkGroup').css('border-color', 'lightgrey');
    }


</script>

<script>
    function showdata(Id, WorktypeId, DetailAction) {
        document.getElementById("detailid").innerText = Id;
        document.getElementById("WorktypeId").innerText = WorktypeId;
        document.getElementById("tenviecchitiet").innerText = DetailAction;
    }
</script>
