@model IEnumerable<DMCTimesheet.Models.C06_UserPermisRelationship>
@{
    ViewBag.Title = "Member permission";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";

    //Data from Controller
    List<DMCTimesheet.Models.C04_Permission> Permissions = ViewBag.Permissions as List<DMCTimesheet.Models.C04_Permission>;
    List<DMCTimesheet.Models.C02_Members> Members = ViewBag.Members as List<DMCTimesheet.Models.C02_Members>;
    string Error = Session["MemberPermissionError"] as string ?? "";
}

<h3><i class="text-danger">@Error</i></h3>
<br />
<h3>@ViewBag.Title</h3>

<div>
    <table class="table table-condensed">
        <tr class="text-white" style="background-color:#808080">
            <td>ID</td>
            <td>UserName</td>
            <td>Permission Name</td>
            <td>Permission Description</td>
            <td>Actived?</td>
            <td>#</td>
        </tr>
        @foreach (var item in Model.OrderBy(s=>s.idPer))
        {
            <tr>
                <td>@item.id_user_perm</td>
                <td><b class="text-primary">@Members.FirstOrDefault(s => s.UserID == item.idUser).FullName</b></td>
                @*<td class="text-danger" id="idPer">@Permissions.FirstOrDefault(s => s.id_Per == item.idPer).PermissionName </td>*@                               
                <td class="text-danger">
                    <select name="idPer" class="form-control col-md-7 col-sm-9 col-xs-9">
                        <option value=@Permissions.FirstOrDefault(s => s.id_Per == item.idPer).id_Per>@Permissions.FirstOrDefault(s => s.id_Per == item.idPer).PermissionName</option>
                        <option value=@Permissions.FirstOrDefault(s => s.id_Per == item.idPer).id_Per>-----------</option>
                        @foreach (var per in Permissions)
                        {
                            <option value=@per.id_Per>@per.PermissionName</option>
                        }

                    </select>
                </td>                               
                <td>@Permissions.FirstOrDefault(s=>s.id_Per == item.idPer).PerDescription</td>
                <td>
                    @*<lable class="control-label col-md-3 col-sm-3 col-xs-3"><b class="text-danger"></b></lable>*@
                    <select name="actived" class="form-control col-md-7 col-sm-9 col-xs-9">
                        <option value=@item.actived>@item.actived</option>                        
                    </select>
                </td>
                <td>
                      @Html.ActionLink(" Save", "SavePermission", "Member", new { Id = item.id_user_perm}, new { @class = "btn fa fa-save btn-large" })
                      @Html.ActionLink(" edit", "PermissionEdit", "Member", new { Id = item.id_user_perm}, new { @class = "btn fa fa-save btn-large" })
               
                </td>
            </tr>
        }
    </table>
</div>