@model IEnumerable<DMCTimesheet.Models.C02_Members>
@{
    DMCTimesheet.Models.C06_UserPermisRelationship Userpermiss = Session["UserPermission"] as DMCTimesheet.Models.C06_UserPermisRelationship;
    DMCTimesheet.Models.C02_Members loginUser = Session["UserLogin"] as DMCTimesheet.Models.C02_Members;
    //Data from controller
    List<DMCTimesheet.Models.C01_Projects> myProject = ViewBag.Projects as List<DMCTimesheet.Models.C01_Projects>;
    List<DMCTimesheet.Models.C07_WorkType> WorkType = ViewBag.WorkType as List<DMCTimesheet.Models.C07_WorkType>;
    List<DMCTimesheet.Models.C13_ProjectType> projectType = ViewBag.ProjectType as List<DMCTimesheet.Models.C13_ProjectType>;
    List<DMCTimesheet.Models.C16_Status> status = ViewBag.Status as List<DMCTimesheet.Models.C16_Status>;
    List<DMCTimesheet.Models.C11_Location> locations = ViewBag.Location as List<DMCTimesheet.Models.C11_Location>;
    List<DMCTimesheet.Models.C10_Owner> owners = ViewBag.Owner as List<DMCTimesheet.Models.C10_Owner>;

    List<DMCTimesheet.Models.C17_Position> Positions = ViewBag.Position as List<DMCTimesheet.Models.C17_Position>;
    List<DMCTimesheet.Models.C18_Descipline> desciplines = ViewBag.Descipline as List<DMCTimesheet.Models.C18_Descipline>;
    int stt = 1;

    //
}

@* Modal create new *@
<link href="~/Content/cscpda-scrollbar.css" rel="stylesheet" />
<div>
    <button type="button" class="btn btn-info btn-small text-right" data-toggle="modal" data-target="#newMember">Thêm thành viên</button>
</div>

@* Form nhập liệu *@
<div id="newMember" class="modal fade" role="dialog">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Thêm Nhân sự mới</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateMember", "Member", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <form>
                        @* WorkType *@
                        <div class="form-group row text-left">
                            <lable class="control-label col-sm-3 col-sm-3 col-xs-3">Tên đầy đủ</lable>
                            <input type="text" class="form-control col-sm-7 col-sm-9 col-xs-9" name="FullName" placeholder="Tên đầy đủ" required="" value="" />
                        </div>
                        @*<div class="form-group row text-left">
                                <lable class="control-label col-sm-3 col-sm-3 col-xs-3">Tên ngắn gọn</lable>
                                <input type="text" class="form-control col-sm-7 col-sm-9 col-xs-9" name="ShortName" placeholder="Tên ngắn gọn" required="" value="" />
                            </div>*@
                        <div class="form-group row text-left">
                            <lable class="control-label col-sm-3 col-sm-3 col-xs-3">Username</lable>
                            <input type="text" class="form-control col-sm-7 col-sm-9 col-xs-9" name="UserName" placeholder="Thường dùng theo email CTC" required="" value="" />
                        </div>
                        <div class="form-group row text-left">
                            <lable class="control-label col-sm-3 col-sm-3 col-xs-3">Mật khẩu (mặc định 'password', user sẽ đổi sau)</lable>
                            <input type="password" class="form-control col-sm-7 col-sm-9 col-xs-9" name="Pass" placeholder="password" disabled value="X03MO1qnZdYdgyfeuILPmQ==" />
                        </div>

                        <div class="form-group row">
                            <lable class="control-label col-sm-3 col-sm-3 col-xs-3 text-left">Email</lable>
                            <input type="email" class="form-control col-sm-7 col-sm-9 col-xs-9" name="Email" placeholder="" value="" />
                        </div>

                        @* PositionID *@
                        <div class="form-group row  text-left">
                            <lable class="control-label col-sm-3 col-sm-3 col-xs-3">Chức vụ</lable>
                            <select name="Position" class="form-control col-sm-7 col-sm-9 col-xs-9">
                                @foreach (var item in Positions.OrderBy(s => s.PositionName))
                                {
                                    <option value=@item.Id>@item.PositionName</option>
                                }
                            </select>
                        </div>

                        @* Chuyen Mon ID *@
                        <div class="form-group row  text-left">
                            <lable class="control-label col-sm-3 col-sm-3 col-xs-3">Chuyên môn</lable>
                            <select name="Descipline" class="form-control col-sm-7 col-sm-9 col-xs-9">
                                @foreach (var item in desciplines.OrderBy(s => s.DesciplineName))
                                {
                                    <option value=@item.Id>@item.DesciplineName</option>
                                }
                            </select>
                        </div>

                        <div class="form-group text-left">
                            <lable class="control-label col-sm-3 col-sm-3 col-xs-3 text-left"></lable>
                            <input type="submit" value="Save" class="btn btn-success col-sm-7" />
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer">
                <div>
                    <p class="text-danger">@ViewBag.Error</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@* End Form nhập liệu *@

<div class="clearfix btn-sm"></div>
<h3>DANH SÁCH NHÂN SỰ</h3>

<div class="table-responsive ">
    <table class="table table-bordered table-striped">
        <caption>Số lượng thành viên đang làm việc: <b class="text-danger">@Model.Count(s => s.Deactived == false && s.SystemMember == false)</b></caption>
        <thead class="table-dark">
            <tr>
                <td class="col-md-1">STT</td>
                <td class="col-md-1">UserName</td>
                <td class="col-md-1">Tên đầy đủ</td>
                <td class="col-md-1">Chức vụ</td>
                <td class="col-md-1">Chuyên môn</td>
                <td class="col-md-1">Email</td>
                <td class="col-md-1">Tình trạng</td>
                <td class="col-md-1">On/Offline</td>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Count() == 0)
            {
                <tr class="row">
                    <td>Chưa có nhân sự</td>
                </tr>
            }
            else
            {
                foreach (var item in Model.Where(s => s.Deactived == false && s.SystemMember == false).OrderBy(s => s.UserName))
                {
                    <tr>
                        <td class="col-md-1">
                            <p></p>
                            <p></p>
                        @stt
                        </td>
                        <td class="col-md-1"><b>@Html.ActionLink(@item.UserName, "Details", "Member", new { Id = item.UserID }, new { @class = "text-primary" }) </b></td>
                        <td class="col-md-1"><b>@Html.ActionLink(@item.FullName, "Details", "Member", new { Id = item.UserID }, new { @class = "text-primary" }) </b></td>
                        <td class="col-md-1">@Positions.FirstOrDefault(s => s.Id == item.Position).PositionName</td>
                        <td class="col-md-1">@desciplines.FirstOrDefault(s => s.Id == item.Descipline).DesciplineName</td>
                        <td class="col-md-1">@item.Email</td>
                        <td class="col-md-1">Online</td>
                        <td>
                            @Html.ActionLink(" ", "OnOffline", "Member", new { Id = item.UserID }, new { @class = "fa fa-adjust btn" })
                            @*@Html.ActionLink(" ", "DeleteMember", "Member", new { Id = item.UserID }, new { @class = "fa fa-remove btn" })*@
                        </td>
                    </tr>
                    stt++;
                }
            }
        </tbody>
    </table>
</div>

<hr />
<div class="clearfix"></div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <caption>Số lượng thành viên chuyển công tác: <b class="text-danger">@Model.Count(s => s.Deactived == true && s.SystemMember == false)</b></caption>
        <thead class="table-dark">
            <tr>
                <td class="col-md-1">STT</td>
                <td class="col-md-1">UserName</td>
                <td class="col-md-1">Tên đầy đủ</td>
                <td class="col-md-1">Chức vụ</td>
                <td class="col-md-1">Chuyên môn</td>
                <td class="col-md-1">Email</td>
                <td class="col-md-1">Tình trạng</td>
                <td class="col-md-1">#</td>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Count() == 0)
            {
                <tr class="row">
                    <td>Chưa có nhân sự</td>
                </tr>
            }
            else
            {
                foreach (var item in Model.Where(s => s.Deactived == true && s.SystemMember == false).OrderBy(s => s.FullName))
                {
                    <tr>
                        <td class="col-md-1">@stt</td>
                        <td class="col-md-1"><b>@Html.ActionLink(@item.UserName, "Details", "Member", new { Id = item.UserID }, new { @class = "text-primary" }) </b></td>
                        <td class="col-md-1"><b>@Html.ActionLink(@item.FullName, "Details", "Member", new { Id = item.UserID }, new { @class = "text-primary" }) </b></td>
                        <td class="col-md-1">@Positions.FirstOrDefault(s => s.Id == item.Position).PositionName</td>
                        <td class="col-md-1">@desciplines.FirstOrDefault(s => s.Id == item.Descipline).DesciplineName</td>
                        <td class="col-md-1">@item.Email</td>
                        <td class="col-md-1">Offline</td>
                        <td>
                            @Html.ActionLink(" ", "OnOffline", "Member", new { Id = item.UserID }, new { @class = "fa fa-adjust btn" })
                        </td>
                    </tr>
                    stt++;
                }
            }
        </tbody>
    </table>
</div>