@model DMCTimesheet.Models.C02_Members
@{
    ViewBag.Title = "Login";
    Layout = null;
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string userName = ViewBag.UserName;
    string backgroundImage = "../Assets/Photos/background/dmc_login.jpg";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - Coteccons BIM-DMC Apps</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content")
    @Scripts.Render("~/bundles/modernizr")

    @*<link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="../UserStyles/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../UserStyles/animate.css/animate.min.css" rel="stylesheet" />

    @*Font Awesome*@
    <link href="../UserStyles/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    @* NProgress*@
    <link href="../UserStyles/nprogress/nprogress.css" rel="stylesheet">

    @*iCheck*@
    <link href="../UserStyles/iCheck/skins/flat/green.css" rel="stylesheet">
    @*Chart JS*@
    <link href="../Content/Chart.min.css" rel="stylesheet" />

    @*bootstrap-progressbar*@
    <link href="../UserStyles/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    @*JQVMap*@
    <link href="../UserStyles/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    @*bootstrap-daterangepicker*@
    <link href="../UserStyles/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    @*Custom Theme Style*@
    <link href="../UserStyles/build/css/custom.min.css" rel="stylesheet">

    @* Background Image style*@
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .bg {
            /* The image used */
            /*background-image: url("../Assets/Photos/background/dmc_login.jpg");*/
            background-image: url("@backgroundImage");
            /* Full height */
            height: 50%;
            /* Center and scale the image nicely */
            position: relative;
            /*/*opacity: 0.65;*/
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .bgimg-1 {
            background-image: url("@backgroundImage");
            /*background-image: url("../Assets/Photos/background/dmc_login.jpg");*/
            height: 100%;
        }
        .bgimg-1, .bgimg-2, .bgimg-3 {
            position: relative;
            /*opacity: 0.65;*/
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bgimg-1 {
            background-image: url("img_parallax.jpg");
            height: 100%;
        }

    </style>
</head>

<body class="login bg">
    @*Origin contents ----------------------------------------------*@    
    <div>
        @*<img src="~/Assets/Photos/background/background-noel-dep_021844285.jpg" alt="Alternate Text" />*@
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            @using (Html.BeginForm("SubmitLogin", "Home", FormMethod.Post))
            {
                <div class="animate form login_form">
                    <div class="text-center">
                        <img src="~/Assets/logoCTC_New.png" alt="Alternate Text" class="img-thumbnail" />
                    </div>
                    <section class="login_content">
                        <form>
                            <h1 class="text-danger">Login</h1>
                            <div class="form-group">
                                <input type="text" class="form-control" name="Username" placeholder="Username" required="" value=@userName />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="Password" placeholder="Password" required="" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-danger col-md-3" type="submit">Log in</button>
                            </div>
                            <div>
                                <p class="text-danger">@ViewBag.LoginNote</p>
                            </div>
                            <div class="clearfix"></div>

                            <div class="separator">
                                <p class="change_link">
                                    Lost or Change your password?
                                    <a href="#signup" class="to_register text-primary"> Click here! </a>
                                </p>

                                <div class="clearfix"></div>
                                <br />

                                <div>
                                    <h3>Coteccons Design Management Center</h3>
                                    <p>©@DateTime.Now.Year - Version <b class="text-primary">1.0</b> - All Rights Reserved.</p>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            }
            @using (Html.BeginForm("ForgotPass", "Home", FormMethod.Post))
            {
                <div id="register" class="animate form registration_form">
                    <div class="text-center">
                        <img src="~/Assets/LogoCTC_New.png" alt="Alternate Text" class="img-thumbnail" />
                    </div>
                    <section class="login_content">
                        <form>
                            <h1 class="text-danger">Lost | Change password</h1>
                            <div class="form-group">
                                <input type="text" class="form-control" name="UserName" placeholder="Username" required="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="newPass" placeholder="New Password" required="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="ConfirmPass" placeholder="Confirm new Password" required="" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning">Create new password</button>
                            </div>
                            <div>
                                <p class="text-danger">@ViewBag.LoginNote</p>
                            </div>
                            <div class="clearfix"></div>

                            <div class="separator">
                                <p class="change_link">
                                    Already a member ?
                                    <a href="#signin" class="to_register text-primary"> Log in </a>
                                </p>

                                <div class="clearfix"></div>
                                <br />

                                <div>
                                    <h3> Coteccons Design Management Center</h3>
                                    <p>©@DateTime.Now.Year - version <b class="text-primary">20230829</b> - All Rights Reserved.</p>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>

            }
        </div>
    </div>




    @* --------------------------------End---------------------------*@
    @* jQuery -->*@
    <script src="~/UserStyles/jquery/dist/jquery.min.js"></script>
    @* Bootstrap -->*@
    <script src="~/UserStyles/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* FastClick -->*@
    <script src="~/UserStyles/fastclick/lib/fastclick.js"></script>
    @* NProgress -->*@
    <script src="~/UserStyles/nprogress/nprogress.js"></script>
    @* Chart.js -->*@
    @*<script src="~/UserStyles/Chart.js/dist/Chart.min.js"></script>*@
    <script src="~/Scripts/Chart.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>*@

    @* gauge.js -->*@
    <script src="~/UserStyles/gauge.js/dist/gauge.min.js"></script>
    @* bootstrap-progressbar -->*@
    <script src="~/UserStyles/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    @* iCheck -->*@
    <script src="~/UserStyles/iCheck/icheck.min.js"></script>
    @* Skycons -->*@
    <script src="~/UserStyles/skycons/skycons.js"></script>
    @* Flot -->*@
    <script src="~/UserStyles/Flot/jquery.flot.js"></script>
    <script src="~/UserStyles/Flot/jquery.flot.pie.js"></script>
    <script src="~/UserStyles/Flot/jquery.flot.time.js"></script>
    <script src="~/UserStyles/Flot/jquery.flot.stack.js"></script>
    <script src="~/UserStyles/Flot/jquery.flot.resize.js"></script>
    @* Flot plugins -->*@
    <script src="~/UserStyles/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/UserStyles/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/UserStyles/flot.curvedlines/curvedLines.js"></script>
    @* DateJS -->*@
    <script src="~/UserStyles/DateJS/build/date.js"></script>
    @* JQVMap -->*@
    <script src="~/UserStyles/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/UserStyles/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/UserStyles/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    @* bootstrap-daterangepicker -->*@
    <script src="~/UserStyles/moment/min/moment.min.js"></script>
    <script src="~/UserStyles/bootstrap-daterangepicker/daterangepicker.js"></script>

    @*Custom Theme Scripts -->*@
    <script src="~/UserStyles/build/js/custom.min.js"></script>


</body>
</html>
