@model DMCTimesheet.Models.C07_WorkType
@{
    ViewBag.Title = "Cập nhật Worktype";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@ViewBag.Title</h3>

<div class="nav navbar-fixed-top row">
    @Html.ActionLink(" Home", "Worktype", "Timesheet", null, new { @class = "fa fa-home btn btn-round btn-dark" })
   
</div>

<div class="modal-body">
    @using (Html.BeginForm("EditWorktype", "Timesheet", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <form>
        @* WorkType *@
        @Html.HiddenFor(model => model.ID)

        <div class="form-group row">
            @Html.LabelFor(model => model.WorkName, "Tên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorkName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.WorkGroup, "Nhóm", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkGroup, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorkGroup, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />                
            </div>
        </div>

    </form>
    }
</div>
<div class="modal-footer">
    <div>
        <p class="text-danger">@ViewBag.SaveContent</p>
    </div>
    <div class="clearfix"></div>
</div>