@model IEnumerable<DMCTimesheet.Models.C08_Timesheet>
@{
    DMCTimesheet.Models.C06_UserPermisRelationship Userpermiss = Session["UserPermission"] as DMCTimesheet.Models.C06_UserPermisRelationship;

    DMCTimesheet.Models.C02_Members loginUser = Session["UserLogin"] as DMCTimesheet.Models.C02_Members;
    bool fullProject = false;
    if (loginUser.Position == 1 || loginUser.Position == 2 || loginUser.Position == 3)
    {
        fullProject = true;
    }
    //= loginUser.Position == 1 || loginUser.Position == 2 || loginUser.Position == 3 ? true : false;
    int stt = 0;
    List<DMCTimesheet.Models.C02_Members> Members = ViewBag.Members as List<DMCTimesheet.Models.C02_Members>;
    List<DMCTimesheet.Models.C01_Projects> _Projects = ViewBag.Projects as List<DMCTimesheet.Models.C01_Projects>;
    List<DMCTimesheet.Models.C01_Projects> Projects = _Projects.Where(s => s.ProjectStage != 5).ToList();//Lấy dự án chưa hoàn thành
    List<DMCTimesheet.Models.C03_ProjectMembers> MyProjects = ViewBag.ProjectMember as List<DMCTimesheet.Models.C03_ProjectMembers>;

    List<DMCTimesheet.Models.C07_WorkType> WorkTypes = ViewBag.WorkType as List<DMCTimesheet.Models.C07_WorkType>;
    List<DMCTimesheet.Models.C19_Workgroup> WorkGroup = ViewBag.Workgroup as List<DMCTimesheet.Models.C19_Workgroup>;

    //group data
    List<string[]> group = ViewBag.group as List<string[]>;    //Nhóm công việc theo workgroup
    List<string[]> listIdCV = ViewBag.listIdCV as List<string[]>; //List ID công việc để lọc
                                                                  //Công việc trong ngày
    List<DMCTimesheet.Models.C08_Timesheet> _ViecTrongNgay = ViewBag.ViecTrongNgay as List<DMCTimesheet.Models.C08_Timesheet>;
    //Công việc trong tuần
    List<DMCTimesheet.Models.C08_Timesheet> _ViecTrongTuan = ViewBag.ViecTrongTuan as List<DMCTimesheet.Models.C08_Timesheet>;

    //Chi tiết công việc
    List<DMCTimesheet.Models.C21_DetailAction> DetailAction = ViewBag.DetailAction as List<DMCTimesheet.Models.C21_DetailAction>;
    List<string[]> actiondetailList = ViewBag.actiondetailList as List<string[]>;

    //for chart
    //List<string> DanhsachNgay = new List<string>();
    //List<int> SogioTheoNgay = new List<int>();
    //if (_ViecTrongTuan != null)
    //{
    //    foreach (DMCTimesheet.Models.C08_Timesheet itm in _ViecTrongTuan)
    //    {
    //        //DanhsachNgay.Add(DateTime.Parse(itm.);

    //        DanhsachNgay.Add(DateTime.Parse(itm.RecordDate.Value.ToString()).ToShortDateString());
    //        SogioTheoNgay.Add(((int)itm.Hour.Value) + (int)itm.OT.Value);
    //    }
    //}


}

@* --------------------------------------------------------VIỆC TRONG NGÀY--------------------------------------------------- *@
@*





*@
<div class="row flex">
    <div class="col-md-6">
        <div class="col flex-column">
            @* Form tạo timesheet *@
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="text-warning"><b class="">Add Dailywork</b></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @* Form nhập liệu *@
                    <div class="embed-responsive">
                        @using (Html.BeginForm("CreateTimesheet", "Timesheet", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <form class="text-dark">
                                @*<h2 class="text-left text-danger">Add daily work</h2>
                                    <div class="clearfix"></div>*@
                                @* memberID *@
                                <div class="form-group row">
                                    <lable hidden class="control-label col-md-3 col-sm-3 col-xs-3 text-left">Tên thành viên</lable>
                                    <input hidden type="text" class="form-control col-md-7 col-sm-9 col-xs-9" readonly name="MemberName" placeholder="" required="" value="@loginUser.FullName" />
                                </div>

                                @* Date *@
                                <div class="form-group row">
                                    <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left">Ngày ghi</lable>
                                    <input type="date" class="form-control col-md-7 col-sm-9 col-xs-9" name="RecordDate" placeholder="" required="" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                </div>

                                @* WorkGroup *@
                                <div class="form-group row  text-left">
                                    <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-primary">Nhóm hoạt động</lable>
                                    <select name="NhomHoatDong" required data-toggle="tooltip" data-placement="left" id="workgroup" onclick="onchangeworkgroup()" title="Chọn nhóm hoạt động" class="form-control col-md-7 col-sm-9 col-xs-9 text-primary">
                                        <option value="2">--Chọn nhóm hoạt động--</option>
                                        @if (WorkGroup != null || WorkGroup.Count() > 0)
                                        {
                                            <option value="2">@WorkGroup.FirstOrDefault(s => s.MaNhom == 2).GroupName</option>
                                            foreach (var item in WorkGroup.Where(s => s.MaNhom != 2))
                                            {
                                                <option id="@item.MaNhom" value="@item.MaNhom">@item.GroupName</option>
                                            }
                                        }
                                    </select>
                                </div>


                                @* ProjectID *@
                                <div class="form-group row  text-left">
                                    <lable class="control-label col-md-3 col-sm-3 col-xs-3">Dự án được phân công</lable>
                                    <select name="ProjectId" data-toggle="tooltip" disabled id="seletorProjectId" data-placement="left" title="Dự án được phân công sẽ xuất hiện ở đây, vui lòng liên hệ Admin nếu chưa có dự án" class="form-control col-md-7 col-sm-9 col-xs-9">
                                        @if (fullProject)
                                        {
                                            <option value=""></option>
                                            foreach (var item in Projects.OrderBy(s => s.ProjectName))
                                            {
                                                <option value=@item.ProjectID>@Projects.FirstOrDefault(s => s.ProjectID == item.ProjectID).ProjectOtherName</option>
                                            }
                                        }
                                        else
                                        {
                                            if (MyProjects.Count() > 0)
                                            {
                                                <option value=""></option>
                                                foreach (var item in MyProjects.OrderBy(s => s.Ngay))
                                                {
                                                    <option value=@item.ProjectID>@Projects.FirstOrDefault(s => s.ProjectID == item.ProjectID).ProjectOtherName</option>
                                                }
                                            }
                                        }


                                    </select>
                                </div>

                                @* LỖI *@
                                <div class="form-group row">
                                    <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left"></lable>
                                    <h6 class="col-md-7 col-sm-9 col-xs-9 text-danger" id="Error">@ViewBag.WorkAlert</h6>
                                </div>


                                @* WorkType *@
                                <div class="form-group row  text-left">
                                    <lable class="control-label col-md-3 col-sm-3 col-xs-3">Chọn Công việc</lable>
                                    <select required name="WorkID" disabled data-toggle="tooltip" data-placement="left" onclick="onchangeworktype()" id="cmbworktype" title="Chọn loại hình công việc của bạn" class="form-control col-md-7 col-sm-9 col-xs-9">
                                        @*@foreach (var item in WorkTypes.OrderBy(s => s.WorkGroup))
                                            {
                                                <option value=@item.ID>[@item.WorkGroup] - @item.WorkName</option>
                                            }*@
                                    </select>
                                </div>

                                @* Hour *@
                                <div class="form-group row text-left">
                                    <lable class="control-label col-md-3 col-sm-3 col-xs-3">Thời gian</lable>
                                    <div class="col-md-7 col-sm-9 col-xs-9">
                                        <div class="col-md-6 text-success inline">
                                            <lable class="control-label col-md-5 text-left">Giờ</lable>
                                            <input type="number" class="form-control col-md-6" name="Hour" required value="4" />
                                        </div>
                                        <div class="col-md-6 inline">
                                            <lable class="control-label col-md-6 text-left">OT</lable>
                                            <input type="number" class="form-control col-md-6" name="OvertimeHour" value="0" />
                                        </div>
                                    </div>
                                </div>

                                @* Description *@
                                @* Detail action *@
                                <div class="form-group row  text-left">
                                    <lable class="control-label col-md-3 col-sm-3 col-xs-3">Thêm chi tiết công việc</lable>
                                    <select name="detailWork" disabled data-toggle="tooltip" data-placement="left" id="cmbdetailWork" onclick="writetodesc(this.value)" title="Chọn chi tiết công việc cụ thể" class="form-control col-md-7 col-sm-9 col-xs-9">
                                        <option value=""></option>
                                        @*@foreach (var item in DetailAction.OrderBy(s => s.WorktypeId))
                                            {
                                                <option value=@item.Id>[@item.WorktypeId] - @item.DetailAction</option>
                                            }*@
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left">Ghi chú chi tiết</lable>
                                    <textarea id="descriptionNote" class="form-control col-md-7 col-sm-9 col-xs-9 " rows="3" name="Description" placeholder="Nhập ngắn gọn nội dung công việc" required></textarea>
                                </div>
                                <div class="form-group text-left">
                                    <lable class="control-label col-md-3 col-sm-3 col-xs-3 text-left"></lable>
                                    <input type="submit" value="Save" class="btn btn-success col-md-7" />
                                </div>
                            </form>

                            <div class="clearfix"></div>
                        }
                    </div>
                </div>
            </div>
            <br />
            @* --------------------------------------------------------BẢNG THỐNG KÊ VIỆC TRONG NGÀY--------------------------------------------------- *@
            <div class="row">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 class="text-primary">
                            <b class="">Công việc trong ngày <i class="text-primary">@DateTime.Today.ToShortDateString(): </i></b>
                            @if (_ViecTrongNgay != null || _ViecTrongNgay.Count() > 0)
                            {
                                <a>
                                    Hour: <b class="text-danger">@_ViecTrongNgay.Select(p => p.Hour).Sum()</b>
                                    - OT: <b class="text-danger">@_ViecTrongNgay.Select(p => p.OT).Sum() </b>
                                </a>
                            }
                            else
                            {
                                <b>0</b>
                            }
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="x_content table-responsive">
                            <div id="ajax-loader"></div>
                            <div>
                                <table class="table table-hover table-borderless">
                                    <thead class="bg-dark text-center text-white">
                                        <tr class="row">
                                            <th class="col-1">No</th>
                                            <th class="col-1">Record date</th>
                                            <th class="col-2">Project</th>
                                            <th class="col-2">Workdone</th>
                                            <th class="col-1">Hours</th>
                                            <th class="col-1">Overtime</th>
                                            <th class="col-3">Description</th>
                                            <th class="col-1">#</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="table-responsive-md" style="height:450px">
                                <table class="table table-hover table-bordered table-striped">
                                    <tbody id="seachResult" class="text-dark">
                                        @if (_ViecTrongNgay != null)
                                        {
                                            foreach (var item in _ViecTrongNgay.OrderByDescending(s => s.RecordDate))
                                            {
                                                stt++;
                                                <tr class="row">
                                                    <td class="col-1 text-center">@stt</td>
                                                    <td class="col-1">@DateTime.Parse(item.RecordDate.ToString()).ToShortDateString()</td>
                                                    <td class="col-2">
                                                        @if (item.ProjectId != null)
                                                        {
                                                            @Html.ActionLink(Projects.FirstOrDefault(s => s.ProjectID == item.ProjectId).ProjectOtherName, "UserEdit", "Timesheet", new { id = item.Id }, new { @class = "text-primary" })
                                                        }
                                                        else
                                                        {                                                            
                                                            @Html.ActionLink("Công việc chung", "UserEdit", "Timesheet", new { id = item.Id }, new { @class = "text-primary" })
                                                        }
                                                    </td>
                                                    <td class="col-2">@WorkTypes.FirstOrDefault(s => s.ID == item.WorkType).WorkName</td>
                                                    <td class="col-1">@item.Hour</td>
                                                    <td class="col-1">@item.OT</td>
                                                    <td class="col-3">@item.Description</td>
                                                    <td class="col-1">
                                                        @Html.ActionLink(" ", "UserEdit", "Timesheet", new { id = item.Id }, new { @class = "fa fa-edit" })
                                                        @Html.ActionLink(" ", "Delete", "Timesheet", new { id = item.Id }, new { @class = " fa fa-remove btn" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="row text-danger">Tuần này chưa có công việc nào được ghi nhận</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            @*<h6>Tổng số giờ trong trong ngày <b class="text-danger">@Model.Where(s => s.RecordDate == DateTime.Today).Select(p => p.Hour).Sum()</b></h6>*@



        </div>
    </div>

    <div class="col-md-6 flex-column">
        <div class="col">
            @*<div class="x_panel" style="height:auto">*@
            @* -----------CHART -------------------------------- *@
            @*<div class="x_title">

                        <h2 class="text-warning"><b class="text-success">THỐNG KÊ CÔNG VIỆC TRONG TUẦN </b></h2>
                        <h2 class="text-warning"> - FROM @cal.GetDayOfWeek(DateTime.Today) </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <canvas id="weekly_workdone"></canvas>
                    </div>
                </div>*@

            <div class="x_panel">
                <div class="x_title">
                    @{
                        System.Globalization.CultureInfo cultureInfo = new System.Globalization.CultureInfo("vi-VN");
                        System.Globalization.Calendar cal = cultureInfo.Calendar;
                    }
                    <h2 class="text-warning"><b class="text-success">DANH SÁCH CÔNG VIỆC TRONG TUẦN THỨ <i class="text-primary">@cultureInfo.Calendar.GetWeekOfYear(DateTime.Today, System.Globalization.CalendarWeekRule.FirstDay, DayOfWeek.Monday) - @DateTime.Today.Year </i></b></h2>
                    <div class="clearfix"></div>
                </div>
                @* -----------BẢNG THỐNG KÊ TRONG TUẦN------------------------------------------------ *@
                <div class="x_content">
                    <div class="x_content">
                        <div>
                            <table class="table table-hover table-borderless table-striped">
                                <thead class="bg-dark text-center text-white">
                                    <tr class="row">
                                        <th class="col-md-1">No</th>
                                        <th class="col-md-1">Record date</th>
                                        <th class="col-md-2">Project</th>
                                        <th class="col-md-2">Workdone</th>
                                        <th class="col-md-1">Hours</th>
                                        <th class="col-md-1">Overtime</th>
                                        <th class="col-md-3">Description</th>
                                        <th class="col-md-1">#</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive" style="height:1000px">
                            <table class="table table-hover table-bordered table-striped">
                                <tbody id="seachResult" class="text-dark">
                                    @if (Model != null)
                                    {
                                        int st = 1;
                                        foreach (var item in Model.OrderByDescending(s => s.RecordDate))
                                        {

                                            <tr class="row">
                                                <td class="col-md-1 text-center">@st</td>
                                                <td class="col-md-1">@DateTime.Parse(item.RecordDate.ToString()).ToShortDateString()</td>
                                                <td class="col-md-2">
                                                    @if (item.ProjectId != null)
                                                    {
                                                        @Html.ActionLink(Projects.FirstOrDefault(s => s.ProjectID == item.ProjectId).ProjectOtherName, "UserEdit", "Timesheet", new { id = item.Id }, new { @class = "text-primary" })
                                                        @*<b class="text-primary">@Projects.FirstOrDefault(s => s.ProjectID == item.ProjectId).ProjectOtherName</b>*@
                                                    }
                                                    else
                                                    {
                                                        <b class="text-primary">Công việc chung</b>
                                                        @Html.ActionLink("Công việc chung", "UserEdit", "Timesheet", new { id = item.Id }, new { @class = "text-primary" })
                                                    }
                                                </td>
                                                <td class="col-md-2">@WorkTypes.FirstOrDefault(s => s.ID == item.WorkType).WorkName</td>
                                                <td class="col-md-1">@item.Hour</td>
                                                <td class="col-md-1">@item.OT</td>
                                                <td class="col-md-3">@item.Description</td>
                                                <td class="col-md-1">
                                                    @Html.ActionLink(" ", "UserEdit", "Timesheet", new { id = item.Id }, new { @class = "fa fa-edit" })
                                                    @Html.ActionLink(" ", "Delete", "Timesheet", new { id = item.Id }, new { @class = " fa fa-remove btn" })
                                                </td>
                                            </tr>
                                            st++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="row text-danger">Tuần này chưa có công việc nào được ghi nhận</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function onchangeworkgroup() {
        var opt = document.getElementById("workgroup").value;
        var dbNhomCV = @Html.Raw(Json.Encode(group));
        var dbCongviec = @Html.Raw(Json.Encode(listIdCV));

        document.getElementById("Error").value = '';
        if (opt == "2" || opt ==1) {
            document.getElementById("seletorProjectId").disabled = false;
            document.getElementById("cmbworktype").disabled = false;
        }
        else {
            document.getElementById("seletorProjectId").disabled = true;
            document.getElementById("cmbworktype").disabled = false;

        }
        addOptByworkGroup(dbNhomCV, dbCongviec, opt);

    }

    //Hàm thay đổi nội dung của select Công việc
    function addOptByworkGroup(dbNhomCV, dbCongviec, Opt) {
        document.getElementById("cmbworktype").value = '';
        const groupOption = Array.from(dbNhomCV).filter(a => a[0] == Opt);
        document.getElementById("cmbdetailWork").disabled = false;
        document.getElementById("cmbworktype").innerHTML = createOpt(dbCongviec, groupOption);
    }

    //Hàm tạo thẻ Option trong select
    function createOpt(dbCongviec, group2option) {
        var text = "";
        for (var i = 0; i < group2option.length; i++) {
            for (var j = 0; j < dbCongviec.length; j++) {
                if (dbCongviec[j][1] == group2option[i][1]) {
                    text += '<option value=' + dbCongviec[j][0] + '>' + dbCongviec[j][1] + '</option>';
                }
            }
        }
        return text;
    }
</script>

<script>
    //Hàm thay đổi chi tiết công việc trong công việc dc chọn
    function onchangeworktype() {
        var workid = document.getElementById('cmbworktype').value;
        var detailWorks = @Html.Raw(Json.Encode(actiondetailList));
        var choosingWork = Array.from(detailWorks).filter(s => s[0] == workid);
        //alert(choosingWork);
        document.getElementById("cmbdetailWork").value = '';
        document.getElementById("cmbdetailWork").innerHTML = createOpt4(choosingWork);

    }

    //Hàm tạo cmb chi tiết công việc
    function createOpt4(choosingWork) {
        var text = "";
        for (var i = 0; i < choosingWork.length; i++) {
            text += '<option value=' +"'"+ choosingWork[i][1] +"'"+ '>' + choosingWork[i][1] + '</option>';
        }
        return text;
    }
</script>

<script>
    function writetodesc(val) {
        document.getElementById('descriptionNote').innerText = "";
        document.getElementById('descriptionNote').textContent = val;
    }
</script>
<script src="~/UserStyles/Chart.js/chart.js"></script>
<link href="~/Content/cscpda-scrollbar.css" rel="stylesheet" />
<link href="~/Content/scrollbarStyle.css" rel="stylesheet" />
@* Chart 3 - Donus Project theo Tình trạng *@

@*<script>
       var ctx = document.getElementById('weekly_workdone').getContext('2d');
       var _lable = @Html.Raw(Json.Encode(DanhsachNgay));
       var _data = @Html.Raw(Json.Encode(SogioTheoNgay));
       var myChart = new Chart(ctx, {
           type: 'bar',
            data: {
               labels:  _lable,
                datasets: [{
                    data: _data,
                    backgroundColor: ['rgba(124,252,0,0.4)', 'rgba(255,165,0,0.5)', 'rgba(255,0,0, 0.7)', 'rgba(54, 255, 235,0.7)', 'rgba(220, 53, 69, 0.8)'],
                    borderColor:'rgba(54, 162, 235, 1)',
                    borderWidth: 1,
                    outerWidth: 0.3
                }]
            },
           options: {
               responsive: true,//to nhỏ
               interaction: {
                   intersect: false,
               },
               scales: {
                   x: {
                       stacked: true,
                   },
                   y: {
                       stacked: true
                   }
               },
               showToolTips: true,
               plugins: {
                   title: {
                       display: true,
                       text: 'Danh sách công việc trong tuần'
                   },
                   legend: {//ghi chú các thành phần trong biểu đồ
                       display: false,
                       position: 'right',
                       align:'left',
                       labels: {
                           color: 'rgb(0, 0, 0)'
                       }
                   }
               }}});
    </script>*@